#p1-heading{
    text-align: center;
    color: rgb(244, 255, 149);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 7px;
 }

 #p2-first-para{
      border : 5px solid rgb(255, 255, 255);
      padding : 50px;
      float :initial;
      width : 90%;
      color : blanchedalmond;
      font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
      text-align: left;
      text-decoration: midnightblue;
      text-shadow: midnightblue;
      font-size: 18px;
      position :absolute;
      color:rgb(255, 136, 0);
      background-color : rgb(24, 24, 24);
      top : 150px;
      bottom : 50;
      right : 100;
      text-decoration: blink blanchedalmond;
 }

 #p3-sec-para{
    border : 5px solid rgb(100, 100, 100);
      padding : 50px;
      float :initial;
      width : 90%;
      color : rgb(255, 153, 0);
      font-family :Verdana, Geneva, Tahoma, sans-serif; 
      text-align: left;
      text-decoration: midnightblue;
      text-shadow: midnightblue;
      font-size: 18px;
      position :absolute;
      color:rgb(185, 185, 185);
      background-color : rgb(0, 0, 0);
      top : 530px;
      bottom : 50;
      right : 100;
      text-decoration: blink blanchedalmond;
 }

 #p4-third-para{
    border : 5px solid rgb(168, 168, 168);
      padding : 50px;
      float :right;
      width : 90%;
      color : rgb(255, 153, 0);
      font-family :Verdana, Geneva, Tahoma, sans-serif; 
      text-align: left;
      text-decoration: midnightblue;
      text-shadow: midnightblue;
      font-size: 15px;
      position :absolute;
      color:rgb(255, 255, 255);
      background-color : rgb(11, 0, 75);
      top : 930px;
      bottom : 50;
      right : 100;
      text-decoration: blink blanchedalmond;
 }

 #p5-fourth-para{
    border : 5px solid rgb(168, 168, 168);
      padding : 50px;
      float :initial;
      width : 90%;
      color : rgb(255, 153, 0);
      font-family :'Arial Narrow Bold', sans-serif; 
      text-align: left;
      text-decoration: midnightblue;
      text-shadow: midnightblue;
      font-size: 17px;
      position :absolute;
      color:rgb(255, 255, 255);
      background-color : rgb(0, 0, 0);
      top : 1230px;
      bottom : 50;
      right : 100;
      text-decoration: blink blanchedalmond;
 }

 #scroll-to-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
 }

 #scroll-to-top:hover{
    background-color:rgb(255, 126, 20);
 }

 .navbar {
   overflow: hidden;
   background-color: #333;
   position: fixed;
   bottom: 0;
   width: 100%;
}

.navbar a {
   display: inline-block;
   color: #74d46b;
   text-align: center;
   padding: 18px 110px;
   text-decoration: none;
   font-size: 17px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar a:hover {
   background: #ffffff;
   color: rgb(0, 0, 0);
}

.navbar a.active {
   background-color: #04AA6D;
   color: white;
}

/* --------------------------------------------------------------------------------------- */

.progress {
   position: relative;
   height: 2px;
   display: block;
   width: 100%;
   background-color: white;
   border-radius: 2px;
   background-clip: padding-box;
   /*margin: 0.5rem 0 1rem 0;*/
   overflow: hidden;

 }
 .progress .indeterminate {
background-color:black; }
 .progress .indeterminate:before {
   content: '';
   position: absolute;
   background-color: #2C67B1;
   top: 0;
   left: 0;
   bottom: 0;
   will-change: left, right;
   -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
           animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
 .progress .indeterminate:after {
   content: '';
   position: absolute;
   background-color: #2C67B1;
   top: 0;
   left: 0;
   bottom: 0;
   will-change: left, right;
   -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
           animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
   -webkit-animation-delay: 1.15s;
           animation-delay: 1.15s; }

 @-webkit-keyframes indeterminate {
   0% {
     left: -35%;
     right: 100%; }
   60% {
     left: 100%;
     right: -90%; }
   100% {
     left: 100%;
     right: -90%; } }
 @keyframes indeterminate {
   0% {
     left: -35%;
     right: 100%; }
   60% {
     left: 100%;
     right: -90%; }
   100% {
     left: 100%;
     right: -90%; } }
 @-webkit-keyframes indeterminate-short {
   0% {
     left: -200%;
     right: 100%; }
   60% {
     left: 107%;
     right: -8%; }
   100% {
     left: 107%;
     right: -8%; } }
 @keyframes indeterminate-short {
   0% {
     left: -200%;
     right: 100%; }
   60% {
     left: 107%;
     right: -8%; }
   100% {
     left: 107%;
     right: -8%; } }

   .github-style{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
        text-decoration: none;
        text-shadow: #ffffff;
        text-rendering: optimizeSpeed;
    }

    .github-style:hover {
        color: rgb(160, 160, 160);
    }

    .about-me{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
        color:burlywood;
        text-decoration: none;
        text-rendering: optimizeSpeed;
    }

    .about-me:hover {
        color: cornsilk;
    }

    .play-a-game{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
        color: rgb(251, 255, 0);
        text-decoration: none;
        text-shadow: #ffffff;
        text-rendering: optimizeSpeed;
    }

    .play-a-game:hover{
        color: #ffffb0;
    }

    .about-site{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
        color: rgb(0, 119, 255);
        text-decoration: none;
        text-shadow: #ffffff;
        text-rendering: optimizeSpeed;
    }
    
    .about-site:hover{
        color: rgb(121, 190, 255);
    }
